section.profile
	.profile__wrapper 
		header.profile__header 
			.profile__header-column 
				a.profile__logo-link(href='#')
					img.profile__logo-img.img-full-width(src='/assets/img/layout/logo-fevr.svg' alt='Realfevr')
			.profile__header-column 
				nav.profile__nav 
					a.profile__nav-link(href='#') Packs
					a.profile__nav-link(href='#') Marketplace
					a.profile__nav-link(href='#') CHALLENGES
					a.profile__nav-link(href='#') $FEVR
					a.profile__nav-link(href='#') LEARN
					a.profile__nav-link(href='#') STAKING

				.profile__dropdown

		.profile__avatar 
			.profile__avatar-wrapper
				img.profile__avatar-img.img-full-width(src="/assets/img/layout/avatar.png", alt="avatar")
				.profile__avatar-level LEVEL 42
			.profile__avatar-row
				h1.profile__avatar-title @CryptoWizard
			
			.profile__avatar-row
				a.profile__avatar-link(href='#') 0x88…87E005DAd5

			.profile__avatar-row
				.profile__avatar-points 
					img.img-full-width(src='/assets/img/icons/fevrtoken.png' alt='fevrtoken')
					strong 127,812,000
					span OWNED
				.profile__avatar-points 
					img.img-full-width(src='/assets/img/icons/fevrtoken.png' alt='fevrtoken')
					strong 127,812,000
					span STAKED
			
			.profile__avatar-row
				p.profile__avatar-date Joined October, 2021
			
			.profile__avatar-row 
				img.profile__avatar-icon.img-full-width(src='/assets/img/layout/badge-1.png' alt='badge')
				img.profile__avatar-icon.img-full-width(src='/assets/img/layout/badge-2.png' alt='badge')
				img.profile__avatar-icon.img-full-width(src='/assets/img/layout/badge-3.png' alt='badge')
			
			.profile__avatar-row 
				.profile__avatar-stats
					strong 133 / 27500 XP
					span NEXT LEVEL
				.profile__avatar-stats
					strong 2346
					span moments
						br
						|owned
				.profile__avatar-stats
					strong Top 1%
					span RANK


		