section.progress 
	.progress__wrapper
		nav.progress__nav
			a.progress__nav-item(href='#') COLLECTION
			a.progress__nav-item(href='#') TRANSACTIONS
			a.progress__nav-item.progress__nav-item--active(href='#') achievements
			a.progress__nav-item(href='#') REWARDS
			a.progress__nav-item(href='#') notifications

		.progress__block-wrapper
			.progress__block
				.progress__block-row
					img.progress__block-icon(src='/assets/img/icons/diamond.svg' alt='icon')
					.progres__block-content
						h2.progress__block-title NFT Collector
							span Level 1
						.progress__block-text Collect a total of 25 NFTs in your wallet (minted)
				
				.progress__bar.js-progress(data-value='7' data-complete='25' data-id='1')
					.progress__bar-outer 
						.progress__bar-inner 
					.progress__bar-text(data-text-claim='click to CLAIM REWARD' data-text-complete='COMPLETE & claimed')
						span.js-progress-number 0
						|&nbsp;&nbsp;/&nbsp;&nbsp;
						span 25
				
				.progress__block-row.progress__block-row--center
					.progress__block-text.progress__block-text--strong 150
						span xp

			.progress__block
				.progress__block-row
					img.progress__block-icon(src='/assets/img/icons/diamond.svg' alt='icon')
					.progres__block-content
						h2.progress__block-title NFT Collector 
							span Level 1
						.progress__block-text Collect a total of 25 NFTs in your wallet (minted)

				.progress__bar.js-progress(data-value='1122' data-complete='2000' data-id='2')
					.progress__bar-outer 
						.progress__bar-inner 
					.progress__bar-text(data-text-claim='click to CLAIM REWARD' data-text-complete='COMPLETE & claimed')
						span.js-progress-number 0
						|&nbsp;&nbsp;/&nbsp;&nbsp;
						span 2000
				
				.progress__block-row.progress__block-row--center
					.progress__block-text.progress__block-text--strong 150
						span xp

			.progress__block
				.progress__block-row
					img.progress__block-icon(src='/assets/img/icons/diamond.svg' alt='icon')
					.progres__block-content
						h2.progress__block-title NFT Collector 
							span Level 1
						.progress__block-text Collect a total of 25 NFTs in your wallet (minted)

				.progress__bar.js-progress(data-value='2000' data-complete='2000' data-id='3')
					.progress__bar-outer 
						.progress__bar-inner 
					.progress__bar-text(data-text-claim='click to CLAIM REWARD' data-text-complete='COMPLETE & claimed')
						span.js-progress-number 0
						|&nbsp;&nbsp;/&nbsp;&nbsp;
						span 2000
				
				.progress__block-row.progress__block-row--center
					.progress__block-text.progress__block-text--strong 150
						span xp

			.progress__block
				.progress__block-row
					img.progress__block-icon(src='/assets/img/icons/diamond.svg' alt='icon')
					.progres__block-content
						h2.progress__block-title Trade Master 
							span Level 2
						.progress__block-text Make $2000 selling and buying Moments in the marketplace

				.progress__bar.js-progress(data-value='2000' data-complete='2000' data-id='4').claimed
					.progress__bar-outer 
						.progress__bar-inner 
					.progress__bar-text(data-text-claim='click to CLAIM REWARD' data-text-complete='COMPLETE & claimed') COMPLETE & claimed

				.progress__block-row.progress__block-row--center
					.progress__block-text.progress__block-text--strong 150
						span xp