ul.social-icons 
	li.social-icons-item 	
		a.social-icons-item-link(href="#")
			img.hearder__social-item-image(src='/assets/img/icons/ico-telegram.svg' alt='telegram')
	li.social-icons-item 	
		a.social-icons-item-link(href="#")
			img.hearder__social-item-image(src='/assets/img/icons/ico-twitter.svg' alt='twitter')
	li.social-icons-item 	
		a.social-icons-item-link(href="#")
			img.hearder__social-item-image(src='/assets/img/icons/ico-youtube.svg' alt='youtube')
	li.social-icons-item 	
		a.social-icons-item-link(href="#")
			img.hearder__social-item-image(src='/assets/img/icons/ico-facebook.svg' alt='facebook')
	li.social-icons-item 	
		a.social-icons-item-link(href="#")
			img.hearder__social-item-image(src='/assets/img/icons/ico-instagram.svg' alt='instagram')
	li.social-icons-item 	
		a.social-icons-item-link(href="#")
			img.hearder__social-item-image(src='/assets/img/icons/ico-linkedin.svg' alt='linkedin')
			