footer.footer
	.footer__wrapper 
		.footer__row
			h3.footer__title OFFICIAL PARTNERS
			ul.footer__list
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-soccerex.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-shilling.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-growth.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-polkastarter.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-moonrockcapital.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-soccerex.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-shilling.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-growth.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-polkastarter.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-moonrockcapital.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-soccerex.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-shilling.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-growth.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-polkastarter.png' alt='partner')
				li.footer__list-item 
					img.img-full-width(src='/assets/img/layout/partner-logo-moonrockcapital.png' alt='partner')

		.footer__row
			.footer__logo
				img.img-full-width.footer__logo-img(src='/assets/img/layout/logo-2.png' alt='logo')
				.footer__logo-text RealFevr is powered by Binance Smart Chain

		.footer__row.footer__row--copyright
			include /views/blocks/social-icons

			.footer__logo
				img.img-full-width.footer__logo-img(src='/assets/img/layout/logo-fevr-white.png' alt='logo')

			.footer__links
				ul.footer__list 
					li.footer__list-item 
						a.footer__list-link(href='#') PRIVACY
					li.footer__list-item 
						a.footer__list-link(href='#') NOTICE
					li.footer__list-item 
						a.footer__list-link(href='#') TERMS AND CONDITIONS
					li.footer__list-item 
						a.footer__list-link(href='#') CONTACTS
				.footer__text © 2022 REALFEVR · ALL RIGHTS RESERVED
