header.header
	.header__wrapper 
		.header__column
			a.header__logo(href="#")
				img.img-full-width.header__logo-img(src='/assets/img/icons/fevrtoken.png' alt='fevrtoken') 
				span.header__logo-text buy $fevr
		.header__column 
			include /views/blocks/social-icons
			
			ul.header__links 
				li.header__links-item 
					a.header__links-link(href='#') staking
				li.header__links-item 
					a.header__links-link(href='#') NFT P2E GAME (SOON)
				li.header__links-item 
					a.header__links-link.btn(href='#') PLAY FANTASY
						img.header__links-img(src='/assets/img/icons/ico-football.svg' alt='PLAY FANTASY')